QWidget {
    background-color: rgb(212,212,212);
} 

QLabel {
    font-family: Lato
}        

QPushButton { 
    background: rgba(255,255,255,0); 
    outline: none; border: none; 
} 
QPushButton:checked{
    background: rgba(255,255,255,0); 
    outline: none; border: none;} 
    QPushButton:pressed { background: rgba(0,0,0,0.1); 
    outline: none; border: none; 
}
